
* {
  margin: 0px;
  padding:0px;
  }

  body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 1%, 18%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: inherit;
  height: auto
}

#logo-image {
  height: 100%;
}

.wrapper {
  max-width:2400px;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: auto;
}

div#cd-wrap {
  font-family: 'Roboto';
  position: relative;
  width: 300px;
  height: auto;
  padding-top: 5vh;
}
#dbox {
  width: 300px;
  height: 120px;
}

h2#days {
  font-size: 96px;
  margin: 0px;
}

#main {
  width: 100%;
}

figcaption {
  width: 90px;
  border-top: solid 2px white;
  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row figure {
  display: block;
  margin: 0px 12px 0px 0px;
}

.sbox h3 {
  height: auto;
  width: 72px;
  margin:0;
  font-size: 48px;
}

#slash {
  width: 6px;
  height: 420px;
  position: relative;
  border-right: solid 2px white;
  transform: rotate(8deg);
  margin: 0px 80px 0px 80px;
}

#info-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 360px;
}

div#logo {
  font-family: 'Roboto';
  font-weight: 500;
  color: hsl(0, 1%, 18%);
  max-width: 420px;
  height: 80px;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
}

#logo h1 {
  margin: auto;
}

#info-wrap p {
  font-family: 'Roboto';
  font-weight: 100;
  text-transform: none;
  margin-top: 20px;
}

.dash {
  font-size: 24px;
}

#soon h2 {
  margin: 0;
  font-family: 'Roboto';
  font-size: 60px;
  font-weight: 500;
  line-height: inherit;
  vertical-align: baseline;
}

#soon h1{
  max-width: 700px;
  height: 91px;
  font-family: 'Dosis';
  font-size: 72px;
  font-weight: 100;
  line-height: 60px;
  height: 60px;
}

i {
  color: hsl(0, 1%, 18%);
  vertical-align:middle;
}
i:hover {
  color: #296296;
}

.msocial {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  list-style: none;
  margin-top: 24px;
}

.circle {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: white;
  margin-right: 8px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: auto;
  height: auto;
  position: relative;
  padding: 0px 60px 20px 60px;
}

.contact {
  display: flex;
  flex-direction: row;
}

.copy {
  height: 20px;
  margin: auto;
}

.sub {
  height: 50px;
}

#test-form {
  display: flex;
  flex-direction: row-reverse;
}

input#email {
  background: transparent;
  position: relative;
  font-family: 'Dosis';
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
  color: white;
  height: 20px;
  border: none;
  border-bottom: solid 2px white;
  padding: 1em 2em 0 2em;
  margin-right: 12px;
}

button#submit-form.circle {
  cursor: pointer;
  margin-bottom: 2em;
}

.fa-envelope {
  font-size: 30px;
  line-height: 1.5em;
}

#email-label {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 18vh;
  right: -12vh;
  margin-right: 2vw;
}



@media (max-width: 1204px) {
  body{
    height: inherit;
  }
  .wrapper{
    flex-direction: column-reverse;
    max-width:430px;
    margin-top: 10vh;
  }

  div#cd-wrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin:24px 0px;
    padding: 0px;
  }

  #days {
    font-size: 60px;
    margin: 0px;
  }

  #info-wrap {
    max-width: 80vw;
    height: 100%;
    align-self: center;
  }

  #logo {
    height: 200%;
  }

  #soon h1 {
    height:auto;
  }
  #slash {
    display: none;
  }

  footer {
    flex-direction: column-reverse;
    padding: 0px;
    margin-top: 6vh;
    justify-content: center;
  }

  .copy{
    bottom: 0px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }

  input#email {
    padding-top: 0px;
    margin: 0px;
  }

  #submit-form.circle {
    margin-bottom: 12px;
    margin-right: 0px;
  }

  #email-label {
    transform: none;
    position: relative;
    bottom: 0;
    right: 0;
  }

}
